<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css"/>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
    <div class="container">
       <div class="header"><button id ="menu">Menu</button><a href="http://localhost:3000/users/login" class ="loginBtn">Logout</a></div>
        <div id = "u">User Details</div>
        <!--<div class ="d">
        <div id="name">User Name:<%=firstName%> <%=lastName%></div>
        <div id="email">Email:<%=email%></div>
        </div>-->
        <div id="table"></div>
        <div class="footer"></div>
    </div>
    </body>
    <script src="/javascripts/user.js"></script>
</html>