@media only screen and (min-width: 320px){
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #7a94a0;
    height: 100vh;
    margin: 0;
    padding: 10px;
}
.container{
    background-color: white;
    border-radius: 5px;
    width: 400px;
    max-width: 700px;
    overflow: hidden;
    padding: 40px 20px;
    color: #040c06;
}
.h{
    background-color: #f7f7f7;
    padding: 10px 20px;
    width: 340px;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    font-size: 30px;
    color: #050504;
    font-weight: 600;
    margin: 10px; 
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
}
.in {
    width: 380px;
    height: 40px;
    margin-left: 30px;
    font-size: 20px;
    color: #060706;
    font-weight: 500;
    font-family: serif;
    margin-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    position: relative;
}
.in input:not(.terms){
    display: block;
    border-radius: 4px;
    border:2px solid #f0f0f0;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}
#loginBtn{
    height: 40px;
    width: 120px;
    background-color:  #13cf52;
    border: none;
    color: rgb(12, 11, 11);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 120px;
}
.sign{
    margin-left: 60px;
}

.error{
    font-size: 20px;
    color: #e74c3c;
    text-align: center;
    margin-left: 150px;
    margin-bottom: 10px;
}
#email{
    margin: 5px;
    width: 50%;
    height: 40px;
    margin-left: 55px;
}
#password{
    margin: 5px;
    width: 50%;
    height: 40px;
    margin-left: 55px;
}
.fp{
    margin-left: 60px;
}
}